.wrapper {
  width: 284rem;
  height: 271rem;
  background-color: #2c2d32;
  margin-left: 20rem;
}
.karma {
}
.karma_wrap {
}
.karma_wrap__text {
}
.title {
}
.content {
}
.when {
}
.daily_footer {
}
.favicon {
}
.site_name {
}
.daily_footer__sub_menu {
}
.score_icon {
}
.score {
}
.comment_icon {
}
.comment {
}
